.category-cards {
  display: flex;
  gap: 15px;
  margin: 25px 0;
  flex-wrap: wrap;
}

.category-card {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-2px);
}

.active-category {
  box-shadow: 0 0 0 2px #1d4ed8;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.no-books {
  margin-top: 30px;
  font-size: 18px;
}