.view-all {
  text-align: center;
  margin-top: 40px;
}

.view-all-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.view-all-btn:hover {
  transform: translateY(-2px);
}