/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sticky Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(90deg, #4f46e5, #7c3aed);
  color: white;

  padding: 1rem 2rem ;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.navbar__logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.navbar__links li {
  display: flex;
  align-items: center;
}

.navbar__links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.navbar__links a:hover {
  color: #ffe066;
}

.navbar__links a.active {
  color: #ffeb3b;
  font-weight: 600;
  border-bottom: 2px solid #ffeb3b;
}